#root {
  background-color: #ed7070;
}
.products {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.card-1 {
  margin: 5px;
  /* padding: 5px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

