body {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.TabsPane {
  background-color: #d6a082;
  border-radius: 10px ;
    width:651px ;
}
#tab {
  background-color: #6ddf9f;
  border-radius: 10px;
  width: 651px;
  position: relative;
  left: 8px;
}
